
    <div class="container" style="font-family:Jeju Gothic, sans-serif;">
        <div class="white_box jumbotron col-md-12">
                        
        <div class="logo col-md-4">
            <h1 class="contact_logo" align="center"> <img src="/assets/likelion_logo.png" width="100px;">x<img width="100px;" src="/assets/한양대.jpg" style="vertical-align:middle" class="logo_shape_round"> </h1>
        </div>
                      
        <div class="name col-md-5" style="margin-top:32px" >
            <h1 style="color:black; font-size:54px" align="center" > 한양대학교 </h1> 
            <h1 style="color:black; font-size:38px" align="center" > 멋쟁이사자처럼 </h1> 
            <h1 style="color:black; font-size:24px" align="center" > 제보 : 010_9033@naver.com </h1> 
        </div>
                      
        <div class="list col-md-3">
                <h2 class="makers_txt" align="right"> 강수정 </h2>
                <a href="http://jiwonrom.tistory.com" target="_blank"><h2 class="makers_txt" align="right"> 노지원 </h2></a>
                <h2 class="makers_txt" align="right"> 박창대 </h2>
                <h2 class="makers_txt" align="right"> 박태연 </h2>
                <a href="http://itncode.tistory.com" target="_blank"><h2 class="makers_txt" align="right"> 정승호 </h2></a>
                <h2 class="makers_txt" align="right"> 최재혁 </h2>
        </div>
                  
        </div>
    </div>